.warning-location {
  color: red;
  font-size: 900;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #cbd0e9;
}

.title {
  font-size: 45px;
  text-align: center;
  font-weight: 900;
}

.sub-title {
  font-size: 31px;
}

.stuff {
  font-size: 20px;
}

.a_1_check {
  margin-right: 10px;
}

.max_value,
.min_value {
  margin: 0 50px 0 10px;
}

.submit_btn,
.solution_btn {
  border: none;
  background-color: #6a2352;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid rgb(212, 206, 206);
  margin-right: 30px;
}

.quadratic {
  color: rgb(12, 4, 87);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}

.solution {
  color: rgb(116, 3, 3);
  font-size: 30px;
  font-weight: 900;
}

@media (min-width: 1250px) {
  body {
    margin: 30px 80px 10px 120px;
  }
}

@media (max-width: 1250px) {
  .submit_btn,
  .solution_btn {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .sub-title {
    font-size: 20px;
  }

  .stuff {
    font-size: 18px;
  }
  .solution,
  .quadratic {
    font-size: 21px;
  }
}
