.warning-location,
.rad_warning-location {
  color: red;
  font-size: 900;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("https://img.freepik.com/free-photo/misty-rose-pink-pool-tile-texture-background-ripple-effect_53876-101922.jpg?w=1380&t=st=1654105444~exp=1654106044~hmac=cd3b2f57c5592b3ef62639e36f199d612dd970be006b616df94b19dba21f54b9");
    background-size: 200px;
    overflow: scroll;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin: 40px 0;
}

.rad-stuff {
  margin-bottom: 100px;
  font-size: 20px;
}

.rad-values {
  margin-top: 30px;
  margin-bottom: 30px;
}

.radical {
  font-size: 30px;
  font-weight: 900;
  color: rgb(12, 4, 87);
}

.sub-title {
  font-size: 31px;
  margin-bottom: 20px;
}

.note_zero {
  font-size: 14px;
  font-style: italic;
  margin-left: 12px;
}

.stuff {
  font-size: 20px;
}

.a_1_check {
  margin-right: 10px;
  margin-bottom: 30px;
}

.max_value,
.min_value,
.rad_max_value,
.rad_min_value {
  margin: 0 10px 0 10px;
}

.max_value,
.rad_max_value {
  margin-right: 30px;
}

.submit_btn,
.solution_btn,
.steps_btn,
.rad_submit_btn,
.rad_solution_btn {
  border: none;
  background-color: #6a2352;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid rgb(212, 206, 206);
  margin-right: 20px;
  font-size: 20px;
  margin-left: -3px;
}

.steps_btn:hover,
.submit_btn:hover,
.solution_btn:hover,
.rad_submit_btn:hover,
.rad_solution_btn:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: rgb(10, 104, 104);
}

.quadratic {
  color: rgb(12, 4, 87);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.solution,
.rad_solution {
  color: rgb(116, 3, 3);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.steps {
  font-size: 19px;
}

.a_step {
  margin-bottom: 13px;
}

.theSteps {
  margin-top: 50px;
}

@media (min-width: 1250px) {
  body {
    margin: 30px 80px 10px 120px;
  }
}

@media (min-width: 750px) {
  .values {
    margin-bottom: 30px;
  }
}

@media (max-width: 1250px) {
  .submit_btn,
  .solution_btn,
  .steps_btn,
  .rad_solution_btn,
  .rad_submit_btn {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .max_value {
    margin-bottom: 15px;
  }
  .title {
    font-size: 25px;
    margin: 20px 0;
  }
  .sub-title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .note_zero {
    font-size: 12px;
    font-style: italic;
    margin-left: 12px;
  }

  .stuff,
  .rad-stuff {
    font-size: 15px;
  }
  .solution,
  .quadratic,
  .radical,
  .rad_solution {
    font-size: 17px;
  }
  .theSteps {
    margin-top: 2px;
  }
  .a_1_check {
    margin-bottom: 10px;
  }
  .steps {
    font-size: 15px;
    margin-top: 20px;
  }
}
