.warning-location {
  color: red;
  font-size: 900;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #cbd0e9;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin: 40px 0;
}

.sub-title {
  font-size: 31px;
  margin-bottom: 20px;
}

.stuff {
  font-size: 20px;
}

.a_1_check {
  margin-right: 10px;
  margin-bottom: 30px;
}

.max_value,
.min_value {
  margin: 0 10px 0 10px;
}

.submit_btn,
.solution_btn,
.steps_btn {
  border: none;
  background-color: #6a2352;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: solid rgb(212, 206, 206);
  margin-right: 20px;
}

.steps_btn {
  margin-top: 20px;
  font-size: 20px;
}

.quadratic {
  color: rgb(12, 4, 87);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.solution {
  color: rgb(116, 3, 3);
  font-size: 30px;
  font-weight: 900;
}

.steps {
  font-size: 19px;
}

.a_step {
  margin-bottom: 10px;
}

.theSteps {
  margin-top: 50px;
}

@media (min-width: 1250px) {
  body {
    margin: 30px 80px 10px 120px;
  }
}

@media (min-width: 750px) {
  .values {
    margin-bottom: 30px;
  }
}

@media (max-width: 1250px) {
  .submit_btn,
  .solution_btn,
  .steps_btn {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .max_value {
    margin-bottom: 15px;
  }
  .title {
    font-size: 25px;
    margin: 20px 0;
  }
  .sub-title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .stuff {
    font-size: 15px;
  }
  .solution,
  .quadratic {
    font-size: 17px;
  }
  .theSteps {
    margin-top: 2px;
  }
  .a_1_check {
    margin-bottom: 10px;
  }
  .steps {
    font-size: 15px;
  }
}
